# Devenv
.venv*
.devenv*
devenv.local.nix
.dev-envfile

*.db
*.sqlite
*.sqlite3

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
webroot/assets
webroot/

examples/debug

# Test fixtures
tests/fixtures/raw_tool_outputs/*.json
tests/fuzz_reports/

deps/*.whl
__pycache__
*.pyc

tmp/

playing_with_aisuite/

ruff-todo/
