# Devenv
.venv*
.devenv*
devenv.local.nix
.dev-envfile

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
webroot/assets
webroot/

examples/debug

deps/
__pycache__
*.pyc

tmp/

playing_with_aisuite/

ruff-todo/
