[submodule "deps/diogenes"]
	path = deps/diogenes
	url = https://github.com/darkone23/diogenes
[submodule "deps/whitakers-words"]
	path = deps/whitakers-words
	url = https://github.com/darkone23/whitakers-words
[submodule "vendor/langnet-spec"]
	path = vendor/langnet-spec
	url = git@github.com:darkone23/langnet-spec.git
